#button {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        position: absolute;
        font-size: 1.5em;
        /* text-transform: lowercase; */        
        left: 25%;
        width: 50%;        
        top: 75%;
        border-radius: 10px;
        color: white;
        text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
        border: 5px solid transparent;
        border-bottom-color: rgba(0,0,0,0.35);
        background: #6495ed;
        cursor: pointer;
		outline: 0 !important;
        animation: pulse 1s infinite alternate;
        transition: background 0.4s, border 0.2s, margin 0.2s;
    }
    #button:hover {
        background: pink;
		/* hsla(220, 100%, 60%, 1); */
        margin-top: -1px;
        animation: none;
    }
    #button:active {
        border-bottom-width: 0;
        margin-top: 5px;
    }
    @keyframes pulse {
        0% {
            margin-top: 0px;
        }
        100% {
            margin-top: 6px; 
        } 
    }

