
		


	
	.button {
		position: relative;
		top: 80vh;
		left: 50vw;	
		
		-moz-box-shadow:inset 0px 1px 0px 0px #efdcfb;
		-webkit-box-shadow:inset 0px 1px 0px 0px #efdcfb;
		box-shadow:inset 0px 1px 0px 0px #efdcfb;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea));
		background:-moz-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
		background:-webkit-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
		background:-o-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
		background:-ms-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
		background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa', endColorstr='#bc80ea',GradientType=0);
		background-color:#dfbdfa;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #c584f3;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #9752cc;
	}
	.button:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc80ea), color-stop(1, #dfbdfa));
		background:-moz-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
		background:-webkit-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
		background:-o-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
		background:-ms-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
		background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea', endColorstr='#dfbdfa',GradientType=0);
		background-color:#bc80ea;
	}
	.button:active {
		position:relative;
		top:1px;
	}
	
	

	.footer {
		height: 5%;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		color: #FADC00;
		text-align: center;
	}

	.container {
		left: 300px;
	}

	img {		
		-webkit-box-shadow:0px 0px 15px 0px black ;
		-moz-box-shadow:0px 0px 15px 0px black ;
		box-shadow:0px 0px 15px 0px black ;
		padding: 10px;
		margin-top: 10%;
		cursor: pointer;
		width: 400px;
		height: 500px;
	}

	.imgA {
		padding-left: 15%;
		float: left;
		display: none;
	}

	.imgB {
		padding-left: 15%;
		float: left;
		display: none;
	}
	
	@media only screen and (min-width: 400px) {
	  img {
		height: 45vh;
	  }
	}
	
	* {
	  box-sizing: border-box;
	}
	

		